@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/fonts/icomoon.eot?hpmdku');
	src:url('fonts/icomoon/fonts/icomoon.eot?#iefixhpmdku') format('embedded-opentype'),
		url('fonts/icomoon/fonts/icomoon.woff?hpmdku') format('woff'),
		url('fonts/icomoon/fonts/icomoon.ttf?hpmdku') format('truetype'),
		url('fonts/icomoon/fonts/icomoon.svg?hpmdku#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-size: 1.5em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-facebook2:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-twitter2:before {
	content: "\e604";
}
.icon-twitter3:before {
	content: "\e605";
}
.icon-facebook3:before {
	content: "\e606";
}
.icon-sobre:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-lista:before {
	content: "\e609";
}

a 
{
	color: #22BCE0;
}
body
{
    background: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
}
header
{
	overflow: hidden;
	height: 130px;
	/*padding: 1em;*/
	position: relative;
}
/*
header figure
{
	float: left;
}
*/
header .icon-lista
{
	text-decoration: none;
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 1em;
	margin-left: 1em;
}
header .icon-sobre
{
	text-decoration: none;
	color: black;
	position:absolute;
	margin-top: 1em;
	margin-right: 1em;
	top: 0;
	right: 0;
}
header #Logo img 
{
	width: 200px;
	position: absolute;
	left: 39%;
	right: 50%;

}
header #LogoIzq img 
{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 2em;
	margin-left: 2em;
}
header #LogoDer img 
{
	position:absolute;
	margin-top: 2em;
	margin-right: 2em;
	top: 0;
	right: 0;
}
div #Banner 
{
	width: 100%;
	background: #FF0000;

}
img #ImagenBanner
{
  	width: 100px;
}
#contenido .contenedor_imagenes
{
	text-align: center;
	display: inline;
}
#contenido .ImagenesDepas .imagen 
{
	width: 200px;

}
h2
{
	font-family: 'Open Sans';
	font-size: 2.0em;
	color: #000000;
}
nav
{
	font-family: 'Open Sans';
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li 
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: black;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}
nav ul li a:hover
{
	color: #2f94d8;
}
nav ul li a:selected
{
	color: #1b70b1;
}
#contenido .nombre_pagina
{
	text-align: center;
	margin-top: 0;
}
#contenido .ParrafoNormal
{
	font-family: 'Georgia';
	font-size: 16px;
	font-style: italic;
	line-height: 1.6em;
	text-align: left;
	margin: 2em 3em 2em 3em;
}
#contenido .ParrafoMargen
{
	font-family: 'Georgia';
	font-size: 16px;
	font-style: italic;
	line-height: 1.6em;
	text-align: left;
	margin-right: 7.0em;
	margin-left: 7.0em;
}

footer .pie .icon-facebook2 
{
	text-decoration: none;
	color: black;
	margin: 2em;
}
footer .pie .powered /* p:first-child p:last-child A esto se le llama Pseudoelementos */
{
	text-align: right;
	font-size: 12px;
	margin-bottom: 0;
}
footer .pie .version
{
	text-align: center;
	font-size: 12px;
	margin-top: 0;
} 
footer .pie .version:after
{
	content: " -";
}
footer .pie .version:before
{
	content: "- ";
}

/* Media Queries, Responsive Design */
@media screen and (min-width: 880px){
	body{
		background: red;
	}
	#contenido{
		overflow: hidden;
	}
}

